h2{
    color: red
}
p{
    color :skyblue;
}
body{
    background-image:url("https://fsp.youthwant.com/images/580_669855839814930_profile_674548479345666_669855839814930.jpg");
    background-size: cover;
}
h1{
    color: white
}